<mat-nav-list *ngIf="isAuthenticated()">
    <div class="profile-card">
      <img src="https://images.theconversation.com/files/304957/original/file-20191203-66986-im7o5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="Soufiane FADIL">
      <div class="header">
        <h3>Dr Hanen Chabouni </h3>
      </div>
    </div>

    <mat-divider></mat-divider>



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
   <mat-icon>home</mat-icon>
      Acceuil
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/patient">
    <mat-icon>supervisor_account</mat-icon>
      Patients
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointment">
      <mat-icon>event</mat-icon>
     Rendez-Vous
    </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Paramétrages
  </a>



</mat-nav-list>
