:host {
  .container{
    //padding: 20px;
  }
  .card-body{
    //padding: 50px;
  }
  .col-8{
    padding: 50px;
  }
  .mat-icon {
    vertical-align: middle;
  }
  a{
    color: #31708f;
  }
  p{
    color: #35495d;
    font-size: 20px;
  }
  hr {
    border: 1px solid orange;
    margin-top: 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-head{
    display:flex;
    justify-content: space-between;
  }
  .breadcrumb {
    background-color: #d9edf7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-title{
    color: #1a69bc;
    margin-left: 10px;
  }

}


