<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">how_to_reg</mat-icon>
          <span style="color: #1a69bc">Dossier n°1: Mr John Doe</span>
          <hr>


            <div class="card">
              <div class="card-body">
                <mat-icon style="color: orange;">folder_open</mat-icon>
                <span style="color: #1a69bc">Fiche Patient</span>
                <hr>
                <br>
                <table class="table table-striped border">
                  <thead>
                  <tr>
                    <th>Date Naissance</th>
                    <th>Num Matricule CNAM</th>
                    <th>Type CNAM</th>
                    <th>Code APCI</th>
                  </tr>
                  </thead>
                </table>
        </div>
      </div>


          <br>
          <div class="offset-12 ">
            <div class="card">
              <div class="card-body">
                <mat-icon style="color: orange;">folder_open</mat-icon>
                <span style="color: #1a69bc">Ordonnances</span>

                <div class="row justify-content-end">
                  <form>
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <button class="btn btn-outline-success" type="submit" routerLink="/ordonnances"><mat-icon>add</mat-icon>Ajouter</button>
                      </div>
                    </div>
                  </form>
                </div>
                <hr>
                <br>
                <table class="table table-striped border">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Médicaments </th>

                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>12-04-22</td>
                    <td>Fervex</td>

                    <td>delete </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <br>
          <div class=" col-12">

            <div class="card">
              <div class="card-body">
                <mat-icon style="color: orange;">folder_open</mat-icon>
                <span style="color: #1a69bc">Visites</span>
                <div class="row justify-content-end">
                  <form>
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <button class="btn btn-outline-success" type="submit" routerLink="/visites"><mat-icon>add</mat-icon>Ajouter</button>
                      </div>
                    </div>
                  </form>
                </div>
                <hr>
                <div class="row justify-content-end">
                  <form>
                    <div class="row no-gutters">
                      <div class="col">
                        <input class="form-control form-control-borderless" type="search" placeholder="Rechercher...">
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                      </div>
                    </div>
                  </form>

                <table class="table table-striped border">
                  <thead>
                  <tr>
                    <th>Date </th>
                    <th>Motif</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <br>
          <div class="col-12 ">
            <div class="card">
              <div class="card-body">
                <mat-icon style="color: orange;">folder_open</mat-icon>
                <span style="color: #1a69bc">Bilans: Bio -Radio-Kiné</span>
                <div class="row justify-content-end">
                  <form>
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <button class="btn btn-outline-success" type="submit" routerLink="/bilans" ><mat-icon>add</mat-icon>Ajouter</button>
                      </div>
                    </div>
                  </form>
                </div>
                <hr>
                <br>
                <table class="table table-striped border">
                  <thead>
                  <tr>
                    <th>Date </th>
                    <th>Libéllées</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <br>
          <div class="col-12 ">
            <div class="card">
              <div class="card-body">
                <mat-icon style="color: orange;">folder_open</mat-icon>
                <span style="color: #1a69bc">Documents-Images-Vidéos</span>
                <div class="row justify-content-end">
                  <form>
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <button class="btn btn-outline-success" type="submit" routerLink="/documents"><mat-icon>add</mat-icon>Ajouter</button>
                      </div>
                    </div>
                  </form>
                </div>
                <hr>
                <br>
                <table class="table table-striped border">
                  <thead>
                  <tr>
                    <th>Date </th>
                    <th>Libéllées</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  <tr>
                    <td>12-04-25 15:15</td>
                    <td>Malade</td>
                    <td>delete </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

            <br>
            <div class="offset-12 ">
              <div class="card">
                <div class="card-body">
                  <mat-icon style="color: orange;">folder_open</mat-icon>
                  <span style="color: #1a69bc">Affecter au Confère</span>

                  <div class="row justify-content-end">
                    <form>
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <button class="btn btn-outline-success" type="submit" routerLink="/confere"><mat-icon>add</mat-icon>Ajouter</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <hr>
                  <br>
                  <table class="table table-striped border">
                    <thead>
                    <tr>
                      <th>Confère</th>
                      <th>Date </th>
                      <th>Lettre au confère</th>
                      <th>Action</th>
                    </tr>
                    </thead>

                  </table>
                </div>
              </div>
            </div>


            <br>
            <div class="offset-12 ">
              <div class="card">
                <div class="card-body">
                  <mat-icon style="color: orange;">folder_open</mat-icon>
                  <span style="color: #1a69bc">Affecter à l'Hopital/Polyclinique</span>

                  <div class="row justify-content-end">
                    <form>
                      <div class="row no-gutters">
                        <div class="col-auto">
                          <button class="btn btn-outline-success" type="submit" routerLink="/hopital"><mat-icon>add</mat-icon>Ajouter</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <hr>
                  <br>
                  <table class="table table-striped border">
                    <thead>
                    <tr>
                      <th>Hopital</th>
                      <th>Date </th>
                      <th>Lettre à l'hopital</th>
                      <th>Action</th>
                    </tr>
                    </thead>

                  </table>
                </div>
              </div>
            </div>

  </div>
</div>
      </div>
    </div>
  </div>
</div>



