<div class="background">
  <div class="login-form">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="avatar">
        <img src="../../assets/images/profile.png" alt="Avatar">
      </div>
      <h2 class="text-center">Authentification</h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Login" required="required" name="username" ngModel>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Mot de passe" required="required" name="password" ngModel>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
      </div>


      <div>
        <a href="#" class="center-block">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>


