<div class="container">
  <div class="row">
    <div class="col-6 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">schedule</mat-icon>
          <span style="color: #1a69bc">Ajouter Visite</span>
          <hr>

          <form #f="ngForm" (ngSubmit)="onSaveVisite(f.value)">

            <div class="form-group">
              <label>Date </label>
              <input type="date" class="form-control"  ngModel name="dateInsert" #dateInsert="ngModel">
            </div>
            <div class="form-group">
              <label>Motif  </label>
              <input type="text" class="form-control"  ngModel name="motif" #motif="ngModel">
            </div>
            <div class="form-group">
              <label>Temperature </label>
              <input type="number" class="form-control"  ngModel name="temperature" #temperature="ngModel">
            </div>
            <div class="form-group">
              <label>Tension Arterielle </label>
              <input type="number" class="form-control"  ngModel name="bloodpressure" #tbloodpressure="ngModel">
            </div>
            <div class="form-group">
              <label>Poids</label>
              <input type="number" class="form-control"  ngModel name="weight" #weight="ngModel">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

