<div class="container">
  <div class="row">
    <div class="col-5 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">add_box</mat-icon>
          <span style="color: #1a69bc">Ajouter Médicament</span>
          <hr>

          <form>
            <div class="form-group">
              <label>Nom  </label>
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="form-group">
              <label>Type </label>
              <input type="text" class="form-control" placeholder="Type">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="Description" >
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-6 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">add_box</mat-icon>
          <span style="color: #1a69bc">Ajouter Confère</span>

          <hr>

          <form>
            <div class="form-group">
              <label>Nom  </label>
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="form-group">
              <label>Prénom </label>
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="form-group">
              <label>Spécialité</label>
              <input type="text" class="form-control" placeholder="Spécialité" >
            </div>
            <div class="form-group">
              <label>Télephone</label>
              <input type="text" class="form-control" placeholder="Téléphone" >
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-5 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">add_box</mat-icon>
          <span style="color: #1a69bc">Ajouter Hopital</span>

          <hr>

          <form>
            <div class="form-group">
              <label>Nom Hopital </label>
              <input type="text" class="form-control" placeholder="Nom Hopital">
            </div>

            <div class="form-group">
              <label>Adresse</label>
              <input type="text" class="form-control" placeholder="Adresse" >
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>


