<div class="container">
  <div class="row">
    <div class="col-6 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">schedule</mat-icon>
          <span style="color: #1a69bc">Affecter un rendez-vous</span>
          <hr>

          <form>
            <div class="form-group">
              <label>Nom  </label>
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="form-group">
              <label>Prénom  </label>
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
            <div class="form-group">
              <label>Date  </label>
              <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetimeedit"
                     placeholder="YYYY-MM-DD HH:MM" show-todays-date="" minutes="true" short-time="true"
                     min-date="minDate" max-date="maxDateNow" edit-input="true" show-icon="true" ng-model="dateTimeEdit"
                     name="datetimeedit" class="form-control dtp-no-msclear dtp-input md-input">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <div class="col-6 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">today</mat-icon>
          <span style="color: #1a69bc">Rechercher un rendez-vous</span>
          <hr>

          <div class="row justify-content-end">
                <form>
                  <div class="row no-gutters">
                    <div class="col">
                      <input class="form-control form-control-borderless" type="search" placeholder="Rechercher...">
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
              </div>
            </form>
          </div>

          <br>
          <table class="table table-striped border">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>12-04-25 15:15</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>12-04-25 15:15</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>12-04-25 15:15</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

