<div class="container">
  <div class="row">

      <div class="col-lg-12" >
        <!-- breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item"><a href="#">Rendez-vous</a></li>
          </ol>
        </nav>
      </div>
    <div class="col-6 ">
      <div class="card">
        <div class="card-body"  >

          <mat-icon style="color: orange;">schedule</mat-icon>
          <span style="color: #1a69bc;margin-left:10px">Affecter un rendez-vous</span>
          <hr>

          <form #f="ngForm" (ngSubmit)="onSaveRDV(f.value)" >
            <div class="form-group">
              <label>Nom  </label>
              <input type="text" class="form-control"  #firstname="ngModel"  name="firstname" ngModel placeholder="Nom">
            </div>
            <div class="form-group">
              <label>Prénom  </label>
              <input type="text" class="form-control"  #lastname="ngModel"  name="lastname" ngModel placeholder="Prénom">
            </div>
            <div class="form-group">
              <label>Date  </label>

              <input  type="date"  #date="ngModel" class="form-control" name="date" ngModel placeholder="JJ/MM/AAAA" >

            </div>
            <div class="form-group">
              <label>time  </label>

              <input  type="time"  #date="ngModel" class="form-control" name="time" ngModel  >

            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
    <div class="panel panel-body" *ngIf="mode==2" >
          <p></p>-->

         <div class="form-group" >-->
            <label>Id : </label> <label>{{currentRDV.id}}</label>
          <p></p>-->
         <label>Nom: </label><label>{{currentRDV.firstname}}</label>
            <p></p>-->
            <label>Prenom: </label><label>{{currentRDV.lastname}}</label>
          <p></p>-->
           <label>Date : </label><label>{{currentRDV.date}}</label>

       </div>
       </div>
      </div>
    </div>



  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <mat-icon style="color: orange;">today</mat-icon>
        <span style="color: #1a69bc; margin-left:10px">Rechercher un rendez-vous</span>
        <hr>

        <div class="row justify-content-end">
          <form #formdata="ngForm" (ngSubmit)="onChercher(formdata.value)" >
            <div class="row no-gutters">
              <div class="col">
                <input class="form-control" type="date" name="date" ngModel style="border-top-right-radius: 0;border-bottom-right-radius: 0;">
              </div>
              <div class="col-auto">
                <button class="btn btn-primary" type="submit"
                        style="border-top-left-radius: 0;
                            border-bottom-left-radius: 0; "
                ><mat-icon >search</mat-icon></button>
              </div>
            </div>
          </form>
        </div>

        <br>
        <table class="table table-striped border">
          <thead>
          <tr >
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let appointment of listAppointments._embedded.appointments" >
            <td>{{appointment.firstname}}</td>
            <td>{{appointment.lastname}}</td>
            <td>{{appointment.date}}</td>
            <button   class=" btn btn-outline-danger" (click)="onDeleteAppoint(appointment)" > <mat-icon>delete_outline</mat-icon></button>

          </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
</div>


