<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      <!-- breadcrumb-->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item"><a href="#">Patients</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">add</mat-icon>
          <span style="color: #1a69bc ; margin-left:10px">Ajouter Patient</span>
          <hr>

          <form #f="ngForm" (ngSubmit)="onSavePatient(f.value)">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Nom </label>
                <input type="text" class="form-control" placeholder="Nom" ngModel name="firstname" #firstname="ngModel">
              </div>
              <div class="form-group col-md-6">
                <label>Prénom </label>
                <input type="text" class="form-control" placeholder="Prénom" ngModel name="lastname"
                       #lastname="ngModel">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Sexe </label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"  ngModel name="sexe" #sexe="ngModel" >
                  <option selected>Choose...</option>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>Téléphone </label>
                <input type="text" class="form-control" placeholder="télephone" ngModel name="telephone"
                       #telephone="ngModel">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Date Naissance</label>
                <input type="date" class="form-control" ngModel name="birthday" #birthday="ngModel">
              </div>
            <div class="form-group col-md-6">
              <label>Date Validité CNAM</label>
              <input type="date" class="form-control" ngModel name="validationday" #validationday="ngModel">
            </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Type CNAM</label>
                <input type="text" class="form-control" ngModel name="typeCNAM" #typeCNAM="ngModel">
              </div>
              <div class="form-group col-md-6">
                <label>Numéro Matricule CNAM </label>
                <input type="text" class="form-control" placeholder="Numéro Matricule CNAM" ngModel name="numMatCNAM"
                       #numMAtCNAM="ngModel">
              </div>
            </div>

            <div class="form-row">

              <div class="form-group col-md-6">
                <label>Code APCI </label>
                <input type="text" class="form-control" placeholder="Code APCI" ngModel name="codeAPCI"
                       #codeAPCI="ngModel">
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary"  style="border-top-left-radius: 0;
                            border-bottom-left-radius: 0; ">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">create_new_folder</mat-icon>
          <span style="color: #1a69bc"> Liste Dossiers </span>
          <hr>

          <br>
          <form>
            <table class="table table-striped border">
              <thead>
              <tr>
                <th>Numéro Dossier</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date Naissance</th>
                <th>Sexe</th>
                <th>Type CNAM</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let patient of listPatients._embedded.patients">
                <td>{{patient.id}}</td>
                <td>{{patient.firstname}}</td>
                <td>{{patient.lastname}}</td>
                <td>{{patient.birthday}}</td>
                <td>{{patient.sexe}}</td>
                <td>{{patient.typeCNAM}}</td>
                <button class="btn btn-outline-primary btn-sm" (click)="onOpenDossier(patient)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </tr>
              </tbody>
            </table>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

