<div class="container">
  <div class="row">
    <div class="col-6 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">schedule</mat-icon>
          <span style="color: #1a69bc">Ajouter Bilan </span>
          <hr>

          <form>
            <div class="form-group">
              <label>Motif </label>
              <input type="text" class="form-control"  placeholder="Motif">
            </div>
            <div class="form-group">
              <label>Date  </label>
              <input type="date" class="form-control" placeholder="dose">
            </div>
            <div class="form-group">
              <label>Choisir Fichier </label>
              <input type="file" class="form-control" >
            </div>
            <div class="form-group">
              <label> Commentaires </label>
              <input type="text" class="form-control" placeholder="commentaire">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


