<div class="container">
  <div class="row">
    <div class="col-6 ">
      <div class="card">
        <div class="card-body">

          <mat-icon style="color: orange;">schedule</mat-icon>
          <span style="color: #1a69bc">Affecter au Confère </span>
          <hr>

          <form #f="ngForm" (ngSubmit)="onsaveLettre(f.value)">
            <div class="form-group" >
              <label >Details Confère </label>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"  ngModel  name="confer" #confer="ngModel" >
                <option selected   >Choose...</option>
                <option *ngFor="let confer of listConfer._embedded.confers" value="{{confer.id}}" >{{confer.firstname}} {{confer.lastname}} -- {{confer.specialite}}</option>


              </select>
            </div>

            <div class="form-group">
              <label>Objet Lettre</label>
              <input type="text" class="form-control" ngModel name="objet" #objet="ngModel"  >
            </div>
            <div class="form-group">
              <label> Description </label>
              <textarea type="text" class="form-control" placeholder="description " ngModel name="description" #description="ngModel"></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>




